@import '../_variables.scss';

#root {
    background-color: $primary-color;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.editor {

}

.sidebar {}

.sidebar explorer {

}

.sidebar object {

}